@model IEnumerable<Assignment>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/treeCSS.css" />
</head>



<div class="container">
    <div class="col-3">
        
        <!--Хорошо))-->

        <div id="treeView" class="treeCSS">

        </div>
    </div>
    <div class="col-9">

    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
</div>