html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0px;
    padding: 60px;
    min-height: 100vh;
    background-color: lightgray;
}

.main {
    
}

.content {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    height: auto;
}

#treeView {
    padding: 15px;
}

.treeItem{
}

.treeItemSelected {
    background-color: lightgreen;
    border-radius: 2px;
}

.treeItem:hover {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 2px;
}

#infoPanel{
    visibility: collapse;
}

.status{
    border-radius: 5px;
    text-align: center
}

.assigned{
    background-color: lightgray;
}

.inProgress {
    background-color: lightblue;
}

.stopped {
    background-color: lightcoral;
}


.completed {
    background-color: lightgreen;
}